body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    /*background-color: green;*/
    background-color: grey;
    margin: auto;
    max-width: 100vw;
}

main {
    margin: auto;
    /* makes it centered horizontally */
    width: 80vh;
    height: 80vh;
    background-color: hotpink;
    max-width: 100vw;
}

header, footer {
    height: 10%;
    background-color: greenyellow;
}

footer {
    vertical-align: bottom;
}

#playing-field-table {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vw;
    margin: auto;
}